figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    float: left;
  }
  
  figcaption {
    background-color: rgb(212, 84, 84);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
} 
  